---
import { getCollection } from 'astro:content';

import Post from '../../components/Astro/Post.astro';
import Main from '../../layouts/Main.astro';

const posts = await getCollection('posts');

const sortedPosts = posts.sort((a, b) => {
  const d1 = new Date(a.data.date);
  const d2 = new Date(b.data.date);

  return d2.getTime() - d1.getTime();
});

// Post with integrating-sandpack slug is being navigated with full reload as Sandpack is not working with Astro's view transitions
---

<Main
  title='Posts'
  description='Tech posts written to solve poverty and realize world peace'
  ogUrl='https://flashblaze.xyz/posts'
>
  {
    sortedPosts.map(post => (
      <Post
        date={post.data.date}
        href={`/posts/${post.slug}`}
        fullReload={post.slug === 'integrating-sandpack' ? true : undefined}
      >
        {post.data.title}
      </Post>
    ))
  }
</Main>
