---
export interface Props {
  date: string | Date;
  href: string;
  fullReload?: boolean;
}

let { date, href, fullReload } = Astro.props;
date = new Date(date);
const parsedDate = date.toUTCString().slice(0, 16);
---

<div class='mb-7'>
  <a
    {href}
    class='font-medium transition ease-in-out dark:hover:text-neutral-500 hover:text-neutral-500'
    data-astro-reload={fullReload}
  >
    <slot />
  </a>
  <p class='text-sm text-gray-500 mt-1 font-semibold'>{parsedDate}</p>
</div>
