@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Poppins', 'sans-serif', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans';
  --font-mono: 'JetBrains Mono Variable', 'monospace', ui-monospace,
    SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New';

  --color-scheme: light dark;
}
