---
import { Picture } from '@astrojs/image/components';
import Main from '../layouts/Main.astro';
import Icon from '../components/Icon';
import GraphicsCard from '../components/GraphicsCard.astro';
import Link from '../components/Link.astro';
---

<Main
  title='Neeraj Lagwankar'
  description='Frontend developer and 2D/3D enthusiast'
  ogUrl='https://flashblaze.xyz'
>
  <h1 class='font-bold text-3xl'>Neeraj Lagwankar</h1>
  <p class='text-gray-700 dark:text-gray-400'>
    Developer, amateur photographer and <i><del>professional</del></i> wannabe artist
  </p>
  <div class='flex my-3'>
    <Icon name='twitter' />
    <Icon name='github' />
    <Icon name='instagram' />
    <Icon name='linkedin' />
    <Icon name='gumroad' />
    <Icon name='youtube' />
  </div>
  <hr class='mt-2 mb-4' />
  <div class='flex flex-col'>
    <p>
      I'm currently working as a frontend engineer at <Link
        href='https://codebuddy.co'
        newTab
        >Codebuddy
      </Link>and trying to learn <Link
        href='https://affinity.serif.com/en-us/photo/'
        newTab
        >Affinity Photo
      </Link> and <Link href='https://blender.org/' newTab>Blender.</Link>
    </p>
    <h3 class='my-4 text-2xl font-bold'>Some graphics stuff</h3>
    <div class='flex gap-2 flex-col sm:flex-row'>
      <GraphicsCard href='https://www.instagram.com/p/CgU30DBj8qs/'>
        <Picture
          src='/assets/affinity-img-1.jpg'
          alt='Black and white image of statue whose face is pixelated and lost identity is written behind it'
          widths={[250, 700]}
          sizes='(min-width: 640px) 250px, 700px'
          aspectRatio='1:1'
          background='#3F3F3F'
        />
      </GraphicsCard>
      <GraphicsCard href='https://www.instagram.com/p/CeJs2trN0yz/'>
        <Picture
          src='/assets/blender-img-1.jpg'
          alt='Image of a 3D cube in front of 3 glowing spheres'
          widths={[250, 700]}
          sizes='(min-width: 640px) 250px, 700px'
          aspectRatio='1:1'
          background='#BE0D74'
        />
      </GraphicsCard>
      <GraphicsCard href='https://www.instagram.com/p/BqHgzG9n_l_/'>
        <Picture
          src='/assets/affinity-img-2.jpg'
          alt='Image of a blurred out colourful gradient circle inside a square which is on top of blurred out colourfu; gradient'
          widths={[250, 700]}
          sizes='(min-width: 640px) 250px, 700px'
          aspectRatio='1:1'
          background='#083FAA'
        />
      </GraphicsCard>
    </div>
    <p class='mt-3 text-sm'>Dev and photo stuff coming soon ™</p>
  </div>
</Main>

<style is:global>
  p {
    margin: 0.25rem 0;
  }
</style>
