---
import Link from './Link.astro';

const { href } = Astro.props;
---

<div
  class='transition ease-in-out border-2 border-gray-500 flex flex-col rounded-md p-3 w-full md:w-1/3'
>
  <slot />
  <Link {href} newTab customClass='mt-2'>Instagram</Link>
</div>
